<!DOCTYPE html>
<html>
<head>
  <title>Referrari</title>
  <%= stylesheet_link_tag    "referrari/application", media: "all" %>
  <%= javascript_include_tag "referrari/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
