<style>

.r-refer-users {
  width:100%; 
  max-width:600px;
  height:80px;
}

.r-refer-users,
.r-refer-users *, 
.r-refer-users *:before, 
.r-refer-users *:after {
  font-family:sans-serif;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -ms-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
} 

.r-refer-users .r-refer-options {
  width:70%;
  float:left;
}

.r-refer-users .r-referral-stats {
  width:30%;
  min-width:140px;
  float:left;
  height:100%;}

.r-refer-users .r-referral-stat {
  width:50%;
  float:left;
}

.r-refer-users .r-refer-options .r-refer-email {
  width:100%;
  height:50px;
  position:relative;
  padding-right:70px;
}

.r-refer-users .r-referral-stats .r-referral-stat {
  text-align:center;
}

.r-refer-users .r-referral-stats .r-referral-stat .r-referral-stat-number {
  font-size:24px;
  line-height:28px;
}

.r-refer-users .r-referral-stats .r-referral-stat .r-referral-stat-title {
  font-size:14px;
  line-height:18px;
  text-transform:uppercase;
}

.r-refer-users .r-refer-options .r-refer-email .r-refer-email-input {
  width:100%;
  height:100%;
  border:1px solid #ccc;
  border-right:0px;
  padding:10px 0 10px 10px;
  font-size:18px;
  outline:0;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.r-refer-users .r-refer-options .r-refer-email .r-refer-email-input:hover {
  border:1px solid #bbb;
  border-right:0px;
}

.r-refer-users .r-refer-options .r-refer-email .r-refer-email-input:focus {
  border:1px solid #ed5b34;
  border-right:0px;
}



.r-refer-users .r-refer-options .r-refer-email .r-refer-email-submit {
  width:70px;
  height:100%;
  font-size:18px;
  display:block;
  position:absolute;
  right:0;
  top:0;
  background:#ed5b34;
  color:#fff;
  border:0;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}

.r-refer-users .r-refer-options .r-refer-email .r-refer-email-submit:hover {
  background:#dc3a0f;
  cursor:pointer;
}

.r-refer-users .r-refer-options .r-referral-link {
  margin-bottom:10px;
}

.r-refer-users .r-refer-options .r-referral-link .r-share-title {
  font-size:12px;
  line-height:18px;
  text-transform:upercase;
  padding:5px 0 0 0;
  color:rgba(0,0,0,.5);
  float:left;
  margin-right:5px;
}

.r-refer-users .r-refer-options .r-referral-link .r-share-link {
  float:left;
}

.r-refer-users .r-refer-options .r-referral-link .r-share-link a {
  color:#ed5b34;
  text-decoration:none;
  font-size:16px;
  line-height:18px;
  padding:5px 0;
  display:block;
  
}

.r-refer-users .r-refer-options .r-referral-link .r-share-link a:hover {
  color:#dc3a0f;
}

.r-clear {
  clear:both;
}

</style>

<div class="temporary-wrapper" style="padding:20px;">

<div class="r-refer-users">
  
  <div class="r-refer-options">

    <div class="r-refer-email">
      <input type="text" placeholder="Email" class="r-refer-email-input" />
      <input type="submit" value="Refer" class="r-refer-email-submit" />
    </div>
    <div class="r-referral-link">
      <div class="r-share-title">Share</div>
      <!-- Note: Consider that this link may be really long if the  -->
      <div class="r-share-link">
        <a href="http://www.appurl.com/refer/kd3H1d">http://www.appurl.com/refer/kd3H1d</a>
      </div>
      <div class="r-clear"></div>
    </div>

  </div>

  <div class="r-referral-stats">
    <div class="r-referral-stat">
      <div class="r-referral-stat-number">5</div> 
      <div class="r-referral-stat-title">Visits</div>
    </div>
    <div class="r-referral-stat">
      <div class="r-referral-stat-number">1</div> 
      <div class="r-referral-stat-title">Sign Up</div>
    </div>
  </div>

  <div class="r-clear"></div>

</div>

</div>